.bg-image-intre {
    background-image: url("../img/1.png");
    background-color: white;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
}
.bg-image-intre0 {
    background-image: url("../img/15.png");
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: center;
    background-size: cover;
}
.bg-image-between {
    background-image: url("../img/13.png");
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: center;
    background-size: cover;
}
.bg-image-last {
    background-image: url("../img/5.png");
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bg-shadow {
    background-color: rgba(228, 222, 222, 0.274);
}

a.hover-1 {
    position: relative;
    color: white!important;
}

a.hover-1:hover {
    color: red!important;
}
.card {
    cursor: pointer;
    transition: ease 0.5s;
}
.card:hover {
    transform: translateY(-15px);
}
.card1 {
    cursor: pointer;
    transition: ease 0.7s;
}
.card1:hover {
    transform: translateY(-10px);
}
